---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


//== Typography
$font-size-base:   		16px;
$font-size-small:  		14px;

$font-size-h1:          24px; 
$font-size-h2:          20px; 
$font-size-h3:          18px; 
$font-size-h4:          $font-size-base;
$font-size-h5:          $font-size-base;
$font-size-h6:          $font-size-base;

$line-height-base:      1.5;	// for use in components like buttons.
$line-height-computed:  20px;  // for use with `margin`, `padding`, etc.

$font-family-base: 		'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-weight-base: 		400;

$headings-font-family: 	$font-family-base;
$headings-font-weight: 	600;
$headings-line-height: 	1.2;


//== Color
$text-color:       			#222;
$background-color: 			#fefefe;

$brand-color: 				#2a7ae2;

$grey-color:       			#828282;
$grey-color-light: 			lighten($grey-color, 40%);
$grey-color-dark:  			darken($grey-color, 25%);

$muted-text-color: 			$grey-color;
$blockquote-border-color: 	$grey-color;

//== Link
$link-color:      			$brand-color;
$link-decoration: 			none;
$link-hover-color:  		darken($brand-color, 20%);
$link-hover-decoration: 	none;

//== Spacing
$spacing-unit:     			48px;
$margin-vertical: 			$line-height-computed;

//== Container sizes
$content-width:    			800px;

$on-palm:          			600px;
$on-laptop:        			800px;




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "type",
        "layout",
        "syntax-highlighting", 
        "tiles", 
        "resume"
;
