// Reset

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Top-level styling

body {
    font-family:        $font-family-base;
    font-size:          $font-size-base;
    line-height:        $line-height-base;
    font-weight:        $font-weight-base;
    color:              $text-color;
    background-color:   $background-color;
}


// Links

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// Images

img {
    vertical-align: middle;
    max-width: 100%;    // make sure image doesn't go beyond the parent
    height: auto;       // scale the height according to the width, otherwise you get stretching
}


// Figures

figure { 
    margin: 0
}

figure > img {
    display: block;
}

figcaption {
    font-size: $font-size-small;
}



/**
 * Wrapper
 */
.container {
    max-width:      -webkit-calc(#{$content-width} + (#{$page-padding} * 2));
    max-width:      calc(#{$content-width} + (#{$page-padding} * 2));
    margin-right:   auto;
    margin-left:    auto;
    padding-right:  $page-padding;
    padding-left:   $page-padding;
    width: 100%;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
