/**
 * Site header
 */
.site-header {
}

.site-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 700; 
    letter-spacing: -1px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}
.site-title a {
    color: #333;
}

.site-nav {
    text-align: center;
    margin-bottom: 80px;
}
.site-nav a { 
    margin: 0 20px;
    text-transform: uppercase;
    color: #333;

}



/**
 * Site footer
 */
.site-footer {
    margin-top: 40px;
    padding-bottom: 40px;

}

.footer-content { 
    border-top: 1px solid #ddd;
    padding-top: 24px;
    text-align: center;
    font-size: 14px;
    color: $muted-text-color;   
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
