/**
 * Site header
 */
.site-header {
}

.site-title {
    font-family: 'Unica One', cursive;
    font-size: 48px;
    line-height: 1;
    font-weight: 700; 
    letter-spacing: 0px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}
.site-title a {
    color: #333;
}

.site-nav {
    text-align: center;
    margin-bottom: 80px;
}
.site-nav a { 
    margin: 0 20px;
    text-transform: uppercase;
    color: $nav-link-color;

}



/**
 * Site footer
 */
.site-footer {
    margin-top: $spacing-large;
    padding-bottom: $spacing-large;

}

.footer-content { 
    text-align: center;
    font-size: $font-size-small;
    color: $muted-text-color;   
}



/**
 * Page content
 */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-large;
    }
}

.post-meta {
    font-size: $font-size-small;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-large;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-large;
}
