.resume section, 
.resume .entry { 
	margin-bottom: $spacing-large;
}

.resume h2 { 
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 24px auto;
}

.resume h3 { 
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	margin: 0 auto $spacing-base;
}

.resume .date { 
	color: $muted-text-color;
	margin-bottom: $spacing-base;
}

span.date { 
	padding-left: 4px;
}


